*{
	font-family :Times;
	font-size:15px;
	border-radius:5px;
}


#header{
		height:50px;
		width:1000px;
		background-color:#31ff63;
		margin:auto;
}


.left{
		height:500px;
		width:500px;
		background-color:#ffffce;
		float:left;
		display:inline-block;
}
.right{
		float:right;
}

#footer{
		height:50px;
		width:1000px;
		background-color:#31ff63;
		margin:auto;
		clear:both;
}

a{
	text-decoration:none;
	float:right;
}
