*{
	font-family :Times;
	font-size:15px;
}


#header{
		height:50px;
		width:1000px;
		background-color:#31ff63;
		margin:auto;
		position:relative;
}


.left{
		height:500px;
		width:500px;
		background-color:#ffffce;
		float:left;
		display:inline-block;
		position:relative;
}
.right{
		float:right;
		position:relative;
}

#footer{
		height:50px;
		width:1000px;
		background-color:#31ff63;
		margin:auto;
		clear:both;
		position:relative;
}

a{
	text-decoration:none;
	float:right;
}
body>div{
	height:1000px;
	width:1000px;
	background-color:#ffcdcd;
	margin:auto;
	position:relative;
}
